# Node modules
node_modules/

# Build output
dist/
.vite/

# Environment variables
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema Operacional
.DS_Store
Thumbs.db