# Node modules
node_modules/

# Build output (caso compile com Babel ou use dist)
dist/

# Environment variables
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
*.log.*

# Banco de dados local (caso use)
*.sqlite
*.sqlite3
/mongodb/

# Uploads locais
/uploads/

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema Operacional
.DS_Store
Thumbs.db